<section class="section about-me-section" id="about-me">
  <div class="container about-me-wrap">
    <h2 class="about-me-title visually-hidden is-hidden">About me</h2>
    <div class="about-me-general-block">
      <p class="about-me-general-text">
        I work with people all over the world to create impressive and
        <span class="red-accent">functional</span>
        <span class="grey-accent">websites</span> that reflect each client's
        unique personality.
      </p>

      <picture class="about-us-picture">
        <source
          srcset="
            ./img/about-me-section/my-photo-desk@1x-min.png 1x,
            ./img/about-me-section/my-photo-desk@2x-min.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/about-me-section/my-photo-tab@1x-min.png 1x,
            ./img/about-me-section/my-photo-tab@2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about-me-section/my-photo-mob@1x-min.png 1x,
            ./img/about-me-section/my-photo-mob@2x-min.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./img/about-me-section/my-photo-mob@1x-min.png"
          alt="my-photo"
          class="about-me-photo"
        />
      </picture>
    </div>

    <ul class="about-me-list accordion-container">
      <li class="about-me-item ac">
        <div class="about-me-item-wrap">
          <h3 class="about-me-item-title ac-header">About me</h3>
          <button class="expand-collapse-button ac-trigger" type="button">
            <svg class="about-me-arrow" width="20" height="20">
              <use href="./img//icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>

        <div class="about-me-item-text-container ac-panel">
          <p class="about-me-item-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-item-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-item ac">
        <div class="about-me-item-wrap">
          <h3 class="about-me-item-title ac-header">Role</h3>
          <button class="expand-collapse-button ac-trigger" type="button">
            <svg class="about-me-arrow" width="20" height="20">
              <use href="./img//icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <ul class="role-list ac-panel">
          <li class="role-item">
            <p class="about-me-item-text">Frontend development</p>
          </li>
          <li class="role-item">
            <p class="about-me-item-text">HeadlessCMS,Wordpress</p>
          </li>
          <li class="role-item">
            <p class="about-me-item-text">Blender(enjoy)</p>
          </li>
        </ul>
      </li>
      <li class="about-me-item ac">
        <div class="about-me-item-wrap">
          <h3 class="about-me-item-title ac-header">Education</h3>
          <button class="expand-collapse-button ac-trigger" type="button">
            <svg class="about-me-arrow" width="20" height="20">
              <use href="./img//icons.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </div>
        <ul class="education-list ac-panel">
          <li class="education-item">
            <p class="about-me-item-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="education-item">
            <p class="about-me-item-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="education-item">
            <p class="about-me-item-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="about-me-skills-wrap">
      <div class="skills-swiper">
        <ul class="about-me-skills-list">
          <li class="about-me-skills-item" id="1">
            <p class="about-me-skills-text">HTML/CSS</p>
          </li>

          <li class="about-me-skills-item" id="2">
            <p class="about-me-skills-text">JavaScript</p>
          </li>

          <li class="about-me-skills-item" id="3">
            <p class="about-me-skills-text">React</p>
          </li>

          <li class="about-me-skills-item" id="4">
            <p class="about-me-skills-text">Node.js</p>
          </li>

          <li class="about-me-skills-item" id="5">
            <p class="about-me-skills-text">React Native</p>
          </li>

          <li class="about-me-skills-item" id="6">
            <p class="about-me-skills-text">Soft skills</p>
          </li>
          <li class="about-me-skills-item" id="7">
            <p class="about-me-skills-text">HTML/CSS</p>
          </li>

          <li class="about-me-skills-item" id="8">
            <p class="about-me-skills-text">JavaScript</p>
          </li>

          <li class="about-me-skills-item" id="9">
            <p class="about-me-skills-text">React</p>
          </li>

          <li class="about-me-skills-item" id="10">
            <p class="about-me-skills-text">Node.js</p>
          </li>

          <li class="about-me-skills-item" id="11">
            <p class="about-me-skills-text">React Native</p>
          </li>

          <li class="about-me-skills-item" id="12">
            <p class="about-me-skills-text">Soft skills</p>
          </li>
        </ul>
      </div>

      <button class="about-me-skills-btn" type="button">
        <svg class="about-swiper-svg" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
