<section class="covers-section" id="covers">
  <div class="container">
    <h2 class="visually-hidden">Covers</h2>
    <link href="https://fonts.googleapis.com/css?family=Pridi:600" rel="stylesheet">

<div class="content">
  <div class="marquee">
  <div class="marquee__inner">
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
  </div>
    <div class="marquee__inner">
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
  </div>
      <div class="marquee__inner">
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
    <p class="marquee__line"><picture>
      <source
      srcset="./img/img-cover/powerpulse1x.png 1x, ./img/img-cover/powerpulse2x.png 2x ">
      <img src="./img/img-cover/powerpulse1x.png" alt="powerpulse">
    </picture></p>
  </div>
</div>
</div>  
  </div>
</section>
