<section class="covers-section" id="covers">
  <div class="con-caver">
    <h2 class="visually-hidden">Covers</h2>
    <div class="marquee">
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/power-pulse1x.png  1x,
                ./img/img-cover/power-pulse@2x.png 2x
              " />
            <img src="./img/img-cover/power-pulse1x.png" alt="power-pulse"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/cheog1x.png  1x,
                ./img/img-cover/cheog@2x.png 2x
              " />
            <img src="./img/img-cover/cheog1x.png" alt="cheog"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/energy1x.png  1x,
                ./img/img-cover/energy@2x.png 2x
              " />
            <img src="./img/img-cover/energy1x.png" alt="energy"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/mimino1x.png  1x,
                ./img/img-cover/mimino@2x.png 2x
              " />
            <img src="./img/img-cover/mimino1x.png" alt="mimino"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/english1x.png  1x,
                ./img/img-cover/english@2x.png 2x
              " />
            <img src="./img/img-cover/english1x.png" alt="english"
          /></picture>
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/fruitbox1x.png  1x,
                ./img/img-cover/fruitbox@2x.png 2x
              " />
            <img src="./img/img-cover/fruitbox1x.png" alt="fruitbox"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/starlight1x.png  1x,
                ./img/img-cover/starlight@2x.png 2x
              " />
            <img src="./img/img-cover/starlight1x.png" alt="starlight"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/green1x.png  1x,
                ./img/img-cover/green@2x.png 2x
              " />
            <img src="./img/img-cover/green1x.png" alt="green"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/power-pulse1x.png  1x,
                ./img/img-cover/power-pulse@2x.png 2x
              " />
            <img src="./img/img-cover/power-pulse1x.png" alt="power-pulse"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/cheog1x.png  1x,
                ./img/img-cover/cheog@2x.png 2x
              " />
            <img src="./img/img-cover/cheog1x.png" alt="cheog"
          /></picture>
        </li>
      </ul>
      <ul class="marquee__inner">
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/cheog1x.png  1x,
                ./img/img-cover/cheog@2x.png 2x
              " />
            <img src="./img/img-cover/cheog1x.png" alt="cheog"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/english1x.png  1x,
                ./img/img-cover/english@2x.png 2x
              " />
            <img src="./img/img-cover/english1x.png" alt="english"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/starlight1x.png  1x,
                ./img/img-cover/starlight@2x.png 2x
              " />
            <img src="./img/img-cover/starlight1x.png" alt="starlight"
          /></picture>
        </li>
        <li class="marquee__line">
          <picture
            ><source
              srcset="
                ./img/img-cover/fruitbox1x.png  1x,
                ./img/img-cover/fruitbox@2x.png 2x
              " />
            <img src="./img/img-cover/fruitbox1x.png" alt="fruitbox"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
