<header class="header" id="header">
  <div class="container header-container">
    <a href="#header" class="header-logo-link">
      <img
        srcset="
          ./img/header/Jefferson@1x.png 1x,
          ./img/header/Jefferson@2x.png 2x
        "
        src="./img/header/Jefferson.png"
        alt="my-photo"
        class="header-img"
      />
      <svg width="84" height="19">
        <use href="./img/icons.svg#icon-jefferson"></use>
      </svg>
    </a>
    <div class="dropdown-menu-wrapper">
      <button type="button" class="header-menu-btn">Menu</button>
      <ul class="dropdown-menu-list">
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#about-me">About Me</a>
        </li>
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#projects">Projects</a>
        </li>
        <li class="dropdown-menu-item">
          <a class="dropdown-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
    <a href="#footer" class="header-order-project-btn">Order the project</a>
    <button type="button" class="header-open-menu-btn">
      <svg width="24" height="12">
        <use href="./img/icons.svg#icon-Icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
