<section class="hero-section" id="hero">
  <div class="container div1">
    <div class="divHero">
      <h1 class="h1h">
      Hello.
      I’m Fullstack developer
      Lloyd Jefferson.
    </h1>
    </div>


  <ul class="ulHero">

    <li class="liIG">
      <a url="https://www.instagram.com/goitclub/" class="aHero">IG</a>
    </li>

    <li class="liFB">
      <a url="https://www.facebook.com/goITclub/" class="aHero">FB</a>
    </li>

    <li class="liYT">
      <a url="https://www.youtube.com/c/GoIT" class="aHero">YT</a>
    </li>

    <li class="liGH">
      <a url="" class="aHero">GH</a>
    </li>

    <li class="liEmail">
      <a url="" class="aHero">lloydjefferson@gmail.com</a>
    </li>

  </ul>

    </div>
</section>
