<section class="hero-section section1" id="hero">
  <div class="container div1">

      <h1 class="h1h">
      Hello.
      I'm Fullstack developer
      Lloyd Jefferson.
      </h1>


  <ul class="ulHero">

    <li class="liIG">
      <a href="https://www.instagram.com/goitclub/" class="aHero">IG</a>
    </li>

    <li class="liFB">
      <a href="https://www.facebook.com/goITclub/" class="aHero">FB</a>
    </li>

    <li class="liYT">
      <a href="https://www.youtube.com/c/GoIT" class="aHero">YT</a>
    </li>

    <li class="liGH">
      <a href="https://github.com/OlgaBlud/portfolio-fullstack-developer" class="aHero">GH</a>
    </li>

    <li class="liEmail">
      <a href="mailto:info@devstudio.com" class="aHero">lloydjefferson@gmail.com</a>
    </li>

  </ul>

    </div>
</section>
