<section class="section hero-section" id="hero">
  <div class="container container-hero">
    <h1 class="title-Hero">
      Hello.<br />
      I’m Fullstack developer<br />
      Lloyd Jefferson.
    </h1>

    <ul class="social-links-hero">
      <li class="liIG">
        <a href="https://www.instagram.com/goitclub/" class="aHero">IG</a>
      </li>

      <li class="liFB">
        <a href="https://www.facebook.com/goITclub/" class="aHero">FB</a>
      </li>

    <li class="liIG">
      <a href="https://www.instagram.com/goitclub/" class="aHero" target="_blank" rel="noopener noreferrer nofollow">IG</a>
    </li>

    <li class="liFB">
      <a href="https://www.facebook.com/goITclub/" class="aHero" target="_blank" rel="noopener noreferrer nofollow">FB</a>
    </li>

    <li class="liYT">
      <a href="https://www.youtube.com/c/GoIT" class="aHero" target="_blank" rel="noopener noreferrer nofollow">YT</a>
    </li>

    <li class="liGH">
      <a href="https://github.com/OlgaBlud/portfolio-fullstack-developer" class="aHero" target="_blank" rel="noopener noreferrer nofollow">GH</a>
    </li>

    <li class="liEmail">
      <a href="mailto:info@devstudio.com" class="aHero hero-email">lloydjefferson@gmail.com</a>
    </li>

  </ul>

    </div>
</section>
