<div class="modal-overlay">
  <div class="modal-header container">
    <button type="button" class="close-btn-modal">
      <svg width="28" height="28">
        <use href="./img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="block">
      <ul class="list-menu">
        <li class="cursor">
          <a class="close1" href="#about-me">About Me</a>
        </li>
        <li class="cursor">
          <a class="close2" href="#benefits">Benefits</a>
        </li>
        <li class="cursor">
          <a class="close3" href="#projects">Projects</a>
        </li>
        <li class="cursor">
          <a class="close4" href="#faq">FAQ</a>
        </li>
      </ul>
      <a class="project-btn close5" href="#footer">Order the project</a>
    </div>
  </div>
</div>
