<div class="modal-overlay">
  <div class="modal-header container">
    <button type="button" class="close-btn-modal">
      <svg width="28" height="28">
        <use href="./img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <div class="block">
      <ul class="list-menu close-modal-header">
        <li class="cursor">
          <a href="#about-me">About Me</a>
        </li>
        <li class="cursor">
          <a href="#benefits">Benefits</a>
        </li>
        <li class="cursor">
          <a href="#projects">Projects</a>
        </li>
        <li class="cursor">
          <a href="#faq">FAQ</a>
        </li>
      </ul>
      <a class="project-btn close-modal-header-btn" href="#footer"
        >Order the project</a
      >
    </div>
  </div>
</div>
