<section class="projects-section" id="projects">
  <div class="container">
    <h2 class="ProjectsH2">Projects</h2>
    <div class="projects-panel">
      <div class="left-top-panel">
        <ul class="tecnology">
          <li class="tecnology-btn">#react</li>
          <li class="tecnology-btn">#js</li>
          <li class="tecnology-btn">#node.js</li>
          <li class="tecnology-btn">#git</li>
        </ul>
        <p class="my-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <button
          type="submit"
          onclick="window.location.href = `https://github.com/OlgaBlud/portfolio-fullstack-developer`;"
          class="btn-project"
        >
          See project
        </button>
      </div>
      <div class="right-down-panel">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              style="
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              "
            >
              Slide 1
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageBookDeck-min.png    1x,
                    ./img/projects-section/imageBookDeck@2x-min.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageBookTab-min.png    1x,
                    ./img/projects-section/imageBookTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageBook-min.png    1x,
                    ./img/projects-section/imageBook@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageBook-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              Slide 2
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imagePetDeck-min.png    1x,
                    ./img/projects-section/imagePetDeck@2x-min.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imagePetTab-min.png    1x,
                    ./img/projects-section/imagePetTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imagePet-min.png    1x,
                    ./img/projects-section/imagePet@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imagePet-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              slide3
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageRegisterDeck-min.png    1x,
                    ./img/projects-section/imageRegisterDeck@2x-min.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageRegisterTab-min.png    1x,
                    ./img/projects-section/imageRegisterTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageRegister-min.png    1x,
                    ./img/projects-section/imageRegister@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageRegister-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </div>
          </div>
          <div class="arrow-lr">
            <div class="swiper-button-prev1 btn-project-lr">
              <button type="button" class=".btn-project-right btn-project-lr">
                <svg class="project-icon">
                  <use
                    xlink:href="./img/icons.svg#icon-arrow-narrow-right"
                  ></use>
                </svg>
              </button>
            </div>
            <div class="swiper-button-next1 btn-project-lr">
              <button type="button" class="btn-project-left btn-project-lr">
                <svg class="project-icon2">
                  <use
                    xlink:href="./img/icons.svg#icon-arrow-narrow-right"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Swiper JS -->
<!--<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->

<!-- Initialize Swiper -->
<!-- <script>
  var swiper = new Swiper('.mySwiper', {
    navigation: {
      nextEl: '.swiper-button-next1',
      prevEl: '.swiper-button-prev1',
    },
  });
</script> -->
