<section class="projects-section" id="projects">
  <!--  -->

  <!--  -->
  <div class="container">
    <h2 class="project-title">Projects</h2>
    <div class="projects-panel">
      <div class="left-top-panel">
        <ul class="technology-list">
          <li class="technology-item">#react</li>
          <li class="technology-item">#js</li>
          <li class="technology-item">#node.js</li>
          <li class="technology-item">#git</li>
        </ul>
        <p class="project-main-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <a
          class="project-link red-btn"
          href="https://olgablud.github.io/portfolio-fullstack-developer/"
        >
          See project
        </a>
      </div>
      <div class="right-down-panel">
        <!-- start slider  container  -->
        <div class="project-swiper">
          <ul class="project-swiper-wrapper">
            <li class="project-swiper-slide" id="P1">
              <!-- <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageBookDeck-min.png    1x,
                    ./img/projects-section/imageBookDeck@2x-min.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageBookTab-min.png    1x,
                    ./img/projects-section/imageBookTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageBook-min.png    1x,
                    ./img/projects-section/imageBook@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageBook-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture> -->
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageBookTab-min.png    1x,
                    ./img/projects-section/imageBookTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageBook-min.png    1x,
                    ./img/projects-section/imageBook@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageBook-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </li>
            <li class="project-swiper-slide" id="P2">
              <!-- <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imagePetDeck-min.png    1x,
                    ./img/projects-section/imagePetDeck@2x-min.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imagePetTab-min.png    1x,
                    ./img/projects-section/imagePetTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imagePet-min.png    1x,
                    ./img/projects-section/imagePet@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imagePet-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture> -->
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imagePetTab-min.png    1x,
                    ./img/projects-section/imagePetTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imagePet-min.png    1x,
                    ./img/projects-section/imagePet@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imagePet-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </li>
            <li class="project-swiper-slide" id="P3">
              <!-- <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageRegisterDeck-min.png    1x,
                    ./img/projects-section/imageRegisterDeck@2x-min.png 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageRegisterTab-min.png    1x,
                    ./img/projects-section/imageRegisterTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageRegister-min.png    1x,
                    ./img/projects-section/imageRegister@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageRegister-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture> -->
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageRegisterTab-min.png    1x,
                    ./img/projects-section/imageRegisterTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageRegister-min.png    1x,
                    ./img/projects-section/imageRegister@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageRegister-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </li>
          </ul>
        </div>
        <!-- end slider  container  -->
      </div>
      <!-- end right-down-panel -->
    </div>
    <!-- end project panel -->

    <div class="project-slider-btns-wrap">
      <button class="project-slider-prev-btn">
        <svg class="project-right-arrow">
          <use href="./img/icons.svg#icon-arrow-right-white"></use>
        </svg>
      </button>
      <button class="project-slider-next-btn">
        <svg class="project-left-arrow">
          <use href="./img/icons.svg#icon-arrow-right-white"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- +++++++++===========+++++++++++++============+++++++++++++++++++++++++=========++++++++++++++==== -->

<!-- <div class="project-slider-btns-wrap">
    <button class="project-slider-btn proj-slider-left-btn">
      <svg class="left-arrow" width="24" height="24">
        <use href="./img/icon.svg#icon-arrow-left-dark"></use>
      </svg>
    </button>
    <button class="project-slider-btn proj-slider-right-btn">
      <svg class="right-arrow" width="24" height="24">
        <use href="./img/icon.svg#icon-arrow-right-white"></use>
      </svg>
    </button>
  </div> -->
