<section class="projects-section" id="projects">
  <div class="container">
    <h1>Projects</h1>
    <div class="projects-panel">
      <div class="left-top-panel">
        <ul class="tecnology">
          <li class="tecnology-btn">#react</li>
          <li class="tecnology-btn">#js</li>
          <li class="tecnology-btn">#node.js</li>
          <li class="tecnology-btn">#git</li>
        </ul>
        <p class="my-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <button type="submit" class="btn-project">See project</button>
      </div>
      <div class="right-down-panel">
        <p>PPPP</p>
      </div>
    </div>
  </div>
  <button type="button" class="btn-project-left">Left</button>
  <button type="button" class="btn-project-right">Right</button>
</section>
