<section class="section projects-section" id="projects">
  <div class="container">
    <h2 class="project-title">Projects</h2>
    <div class="projects-panel">
      <div class="left-top-panel">
        <ul class="technology-list">
          <li class="technology-item">#react</li>
          <li class="technology-item">#js</li>
          <li class="technology-item">#node.js</li>
          <li class="technology-item">#git</li>
        </ul>
        <p class="project-main-text">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <a
          class="project-link red-btn"
          href="https://olgablud.github.com/portfolio-fullstack-developer/"
          target="_blank"
        >
          See project
        </a>
      </div>
      <div class="right-down-panel">
        <!-- start slider  container  -->
        <div class="swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageBookTab-min.png    1x,
                    ./img/projects-section/imageBookTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageBook-min.png    1x,
                    ./img/projects-section/imageBook@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageBook-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imagePetTab-min.png    1x,
                    ./img/projects-section/imagePetTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imagePet-min.png    1x,
                    ./img/projects-section/imagePet@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imagePet-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture class="projects-picture">
                <source
                  srcset="
                    ./img/projects-section/imageRegisterTab-min.png    1x,
                    ./img/projects-section/imageRegisterTab@2x-min.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects-section/imageRegister-min.png    1x,
                    ./img/projects-section/imageRegister@2x-min.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./src/img/projects-section/imageRegister-min.png"
                  alt="my-book"
                  class="projects-photo"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="project-slider-btns-wrap">
    <button class="project-slider-btn proj-slider-left-btn">
      <svg class="left-arrow" width="30" height="30">
        <use href="./img/icons.svg#icon-arrows-left"></use>
      </svg>
    </button>
    <button class="project-slider-btn proj-slider-right-btn">
      <svg class="right-arrow" width="30" height="30">
        <use href="./img/icons.svg#icon-arrows-right"></use>
      </svg>
    </button>
  </div>
</section>
