<div class="container">
  <section class="reviews">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-container">
      <ul class="reviews-list swiper-wrapper">
        <!-- reviews -->
      </ul>
    </div>
    <div class="reviews-div-btn">
      <button type="button" class="reviews-btn btn-narrow">
        <svg class="icon icon-narrow">
          <use xlink:href="./img/reviews/arrow.svg#icon-narrow"></use>
        </svg>
      </button>
      <button type="button" class="reviews-btn btn-arrow">
        <svg class="icon icon-arrow">
          <use xlink:href="./img/reviews/arrow.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </section>
</div>