<section class="container reviews-container" id="reviews">
  <div class="reviews">
    <h2 class="reviews-title">Reviews</h2>
    <div class="flex-reviews">
      <div class="swiper-reviews">
        <ul class="reviews-list swiper-wrapper">
          <!-- reviews -->
        </ul>

        <div class="reviews-div-btn">
          <button type="button" class="reviews-btn js-btn-prev">
            <svg class="reviews-icon js-icon-prev">
              <use xlink:href="./img/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>

          <button type="button" class="reviews-btn js-btn-next">
            <svg class="reviews-icon js-icon-next">
              <use xlink:href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>