<footer class="footer container" id="footer">
  <section>
    <div class="top-footer">
      <img
        srcset="
          ./img/work-together/icon-image.png    1x,
          ./img/work-together/icon-image@2x.png 2x
        "
        class="footer-img"
        src="./img/work-together/icon-image.png"
        alt=""
      />
      <h2 class="footer-title">LET’S <span class="accent-color">WORK</span></h2>
    </div>

    <h2 class="footer-title">TOGETHER</h2>
    <form class="footer-form">
      <div class="email-container">
        <input
          class="mail-input"
          name="email" 
          type="email"
          placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          spellcheck="false"
        />
        <span class="email-err"></span>
      </div>
      <input name="message" class="message-input" type="text" placeholder="comments" /> 
      <button class="submit-btn" type="submit">Send</button>
    </form>
    <address class="contact-block">
      <ul class="contact-list">
        <button class="contact-list-btn email-btn">
          <a class="contact-list-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </button>

        <button class="contact-list-btn phone-btn">
          <a class="contact-list-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </button>
      </ul>
    </address>
  </section>
  <div class="backdrop">
    <div class="modal-window is-open">
      <button class="modal-close-btn" type="button">
        <svg class="modal-close-btn-icon" width="24" height="24">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
      <h2 class="modal-title">Thank you for your interest in cooperation</h2>
      <p class="modal-text">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</footer>
<!--<script type="module" src="../js/work-together-validation.js"></script>
<script type="module" src="../js/work-together-api.js"></script>
<script type="module" src="../js/work-together-modal.js"></script> -->
