/* reset styles accordion */
.ac {
  margin: top 0;
  background-color: inherit;
  border: none;
}
.ac .ac-trigger::after {
  content: none;
}
/* end reset styles accordion */

.about-me-wrap {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 343px;
}
/* general block */
.about-me-general-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 16px;
}
.about-me-general-text {
  border-radius: 24px;
  padding: 32px;
  padding-bottom: 216px;
  background-color: #242527;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.red-accent {
  color: #ed3b44;
}
.grey-accent {
  color: rgba(250, 250, 250, 0.4);
}

/* about me accordion */
.about-me-item {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
.about-me-item.is-active {
  padding-bottom: 20px;
}
.about-me-item-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.about-me-item:not(:last-child) {
  margin-bottom: 20px;
}
.about-me-item-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.about-me-item .expand-collapse-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.expand-collapse-button:hover,
.expand-collapse-button:focus {
  border-color: #fafafa;
}

.about-me-item-text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-me-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.about-me-arrow {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active .about-me-arrow {
  transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
  .about-me-wrap {
    gap: 64px;
    max-width: 704px;
  }
  .about-me-general-text {
    padding: 64px;
    padding-bottom: 396px;
    font-size: 38px;
    line-height: 1.05;
  }
  .about-me-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me-wrap {
    gap: 96px;
    max-width: 1376px;
  }
  .about-me-general-block {
    flex-direction: row;
  }
  .about-me-general-text {
    padding-bottom: 64px;
    width: 680px;
  }
  .about-me-item-text-container {
    width: 612px;
    margin-left: auto;
    padding-right: 68px;
  }
  .role-list,
  .education-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 68px;
  }
}
/* swiper */
.about-me-skills-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
}

.skills-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 260px;
}

.about-me-skills-list {
  display: flex;
  width: 260px;
}

.about-me-skills-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  line-height: 150%;
  letter-spacing: -0.02em;
}

.about-me-skills-item-active {
  background-color: #ed3b44;
}

.about-me-skills-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: stroke 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-me-skills-btn:hover .about-swiper-svg {
  stroke: #fafafa;
}
.about-swiper-svg {
  stroke: #838383;
}

@media screen and (min-width: 768px) {
  .skills-swiper {
    width: 600px;
  }

  .about-me-skills-item {
    font-size: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  .about-swiper-svg {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-skills-wrap {
    margin: 0 32px;
  }

  .skills-swiper {
    width: 1200px;
  }
}
