.benefits-section{
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    
}
.benefits-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.benefits-list-item:last-child{
    margin-bottom: 32px;
}
.benefits-list-links{
    padding-bottom: 64px;
}
/* .benefits-link-icon{
    margin-bottom: 40px ;
} */
.benefits-link{
    border-radius: 10px;
    /* border: 1px solid rgba(12, 12, 12, .1); */
    width: 48px;
    height: 48px;
    fill: #fff;
    background-color: #ED3B44;
}

@media screen and (min-width: 768px){
}


.benefits-list-item {
    border-radius: 20px;
        padding: 24px;
        width: 332px;
        min-height: 270px;
        background: #242527;
}

/* button */
#benefits-action-button{
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    box-sizing: border-box;
    background-color: inherit;
    padding: 18px 36px;
    width: 187px;
    height: 55px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 64px;
    
}

#benefits-action-button:hover{
    border: 1px solid #fff;
}
.benefitsH2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    

}
.benefitsH3{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: var(--main-text);
    margin-bottom: 8px;
}
.benefitsP{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}
