.covers-section{
  height: 960px;
  padding-left: 0;
  padding-right: 0;
}

.con-caver {
  min-width: 1440px;
  height: 960px;
  overflow: hidden;
}
  
  .marquee {
    overflow: hidden;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
  
  }
  
  .marquee__inner {
     height: 400px;
     display: flex;
     transform: rotate(16deg);
  }
  
  .marquee__line {
    flex-shrink: 0;
    margin-right: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 544px;
    height: 314px; 
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  /* .marquee_animation {
    
  }   */
  
  @keyframes marqueeLine {
    from {
      transform: translateX(-20%);
    }
    
    to {
      transform: translateX(-180%);
    }
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



@media only screen and (max-widt:767px) {}


@media only screen and (min-widt:768px) {}


@media only screen and (min-widt:1440px) {}