@media only screen and (max-width: 767px) {
  .dropdown-menu-wrapper {
    display: none;
  }
  .header-order-project-btn {
    display: none;
  }
}
.header-menu-btn {
}

.dropdown-menu-item {
  text-align: center;
}
.dropdown-menu-link {
}

.header {
  position: absolute;
  padding-top: 32px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-logo-link {
  display: flex;
  gap: 8px;
}
.header-img {
  border-radius: 18px;
  overflow: hidden;
}
.header-open-menu-btn {
  background: transparent;
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
}
/* =============Tablet version================= */
@media only screen and (min-width: 768px) {
  .header-menu-btn {
    text-align: center;
    /* display: block; */
    /* padding-bottom: 55px; */
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    color: #fafafa;
  }
  .dropdown-menu-list {
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
  }
  .header-order-project-btn {
    /* display: block; */
    border-radius: 60px;
    border: none;
    padding: 18px 0;
    min-width: 163px;
    height: 55px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    background-color: #ed3b44;
    color: #fafafa;
  }
  .show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 250ms ease-in-out;
  }
  .header-open-menu-btn {
    display: none;
  }
}
