.hero-section{
    padding: 0 0;
    position: relative;
}

.h1h{
font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    padding-bottom: 212px;
    padding-top: 281px;
    padding-left: 16px;
    padding-right: 16px;
}
.div1{
    background-image: linear-gradient(to right, red, #69292D, black);
    background-image: url(../img/Hero/Hero_Mob.png);
    max-height: 812px;
    align-items: center;
    background-repeat: no-repeat;
    max-width: 375px
}
.ulHero{
    height: 37px;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.liIG{
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px 12px;
        width: 37px;
        height: 37px;
}
.aHero{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: var(--main-text);
}
.liFB{
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px;
        width: 37px;
        height: 37px;
}
.liYT{
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px 11px;
        width: 37px;
        height: 37px;
}
.liGH{
    border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px 8px;
        width: 37px;
        height: 37px;
}
.liEmail{
border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    width: 178px;
    height: 37px;
}

@media screen and (min-width: 768px){
.h1h{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 90px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: var(--main-text);
}
.div1{
    background-image: url(../img/Hero/Hero_Tabl.png);
    background-repeat: no-repeat;
    min-width: 768px;
    min-height: 1024px;
}
.ulHero{
    align-items: end;
}
}

@media screen and (min-width: 1440px){
    .div1{
        background-image: url(../img/Hero/Hero_PC.png);
        background-repeat: no-repeat;
        min-height: 900px;
        min-width: 1440px;
    }
}