.project-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects-panel {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.left-top-panel {
  padding: 32px;
  background-color: #fafafa;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.technology-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}
.technology-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

.project-main-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}
.project-link {
  display: block;
  padding: 13px 32px;
  width: 141px;
}
.right-down-panel {
  padding: 100px 16px;
  border-radius: 0 0 24px 24px;
  background: #242527;
}

.project-swiper {
  height: 195px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (min-width: 375px) {
  .project-swiper {
    height: 160px;
  }
}
/* --------------------------------------------------------- first panel media  tab */
@media only screen and (min-width: 768px) {
  .project-swiper {
    height: 385px;
  }

  .projects-panel {
    margin-bottom: 64px;
  }
  .left-top-panel {
    padding: 64px;
  }
  .technology-list {
    margin-bottom: 223px;
  }
  .technology-item {
    padding: 18px;
  }

  .project-main-text {
    font-size: 44px;
    line-height: 1;
    width: 496px;
  }
  .project-link {
    padding: 18px 50px;
    width: 177px;
  }
  .right-down-panel {
    padding: 120px 45px;
    border-radius: 0 0 24px 24px;
  }
}
/* --------------------------------------------------------- first panel media  comp */
@media only screen and (min-width: 1440px) {
  .projects-panel {
    flex-direction: row;
  }
  .left-top-panel {
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    width: 50%;
  }
  .right-down-panel {
    padding: 120px 37px;
    border-radius: 0 24px 24px 0;
  }
}
/* start swiper styles */

/* swiper  btn styles */
.project-slider-btns-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  stroke: #fafafa;
  fill: #fafafa;
}
.project-left-arrow,
.project-right-arrow {
  stroke: #fafafa;
  fill: #fafafa;
}
.project-right-arrow {
  transform: rotate(180deg);
}
.project-slider-next-btn,
.project-slider-prev-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 18px;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  background: transparent;
  color: white;
  cursor: pointer;
}
.project-slider-next-btn:hover,
.project-slider-next-btn:focus {
  background: rgba(255, 255, 255, 0.1);
}

.project-slider-prev-btn:hover,
.project-slider-prev-btn:focus {
  background: rgba(255, 255, 255, 0.1);
}

.project-slider-next-btn:disabled {
  border-color: #3b3b3b;
  background-color: transparent;
}

.project-slider-prev-btn:disabled {
  border-color: #3b3b3b;
  background-color: transparent;
}
.project-slider-next-btn:disabled .project-left-arrow,
.project-slider-next-btn:disabled .project-right-arrow {
  stroke: #3b3b3b;
}

.project-slider-prev-btn:disabled .project-left-arrow,
.project-slider-prev-btn:disabled .project-right-arrow {
  stroke: #3b3b3b;
}
