.ProjectsH2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects-panel {
  display: flex;
  /* flex-direction: column; */
  /* height: 525px;
  width: 1375px; */
}

.left-top-panel {
  min-width: 343px;
  height: 395px;
  background-color: #fafafa;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.my-text {
  /* width: 494px; */
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  color: #1c1d20;
  margin-left: 32px;
}

.right-down-panel {
  background-color: brown;
}

.tecnology {
  display: flex;
  flex-wrap: wrap;
  color: black;
  margin-top: 32px;
  margin-left: 32px;
  border-color: black;
  border: 5px;
  margin-bottom: 96px;
}
.tecnology-btn {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: dashed;
  border: 5px;
  border-radius: 60px;
  font-size: 16px;
  padding: 18px;
  gap: 10px;
  border: 1px solid rgba(128, 36, 36, 0.2);
  margin: 6px;
}

.btn-project {
  width: 177px;
  height: 55px;
  border-radius: 60px;
  border: none;
  background-color: #ed3b44;
  color: #fafafa;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.btn-project:hover {
  background-color: #e0373f;
}
