.ProjectsH2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects-panel {
  display: flex;
  min-width: 343px;
  background-color: FFFFFF;
  flex-direction: column;
}

.left-top-panel {
  background-color: #fafafa;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.right-down-panel {
  display: flex;
  min-width: 343px;
  height: 395px;
  border-radius: 0 0 24px 24px;
  background-color: #242527;
}
.swiper {
  margin-top: 100px;
  align-items: center;
  margin-left: 16px;
}

.my-text {
  width: 279px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -3%;
  color: #1c1d20;
  margin-left: 32px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
}

.tecnology {
  display: flex;
  flex-wrap: wrap;
  color: black;
  margin-top: 32px;
  margin-left: 32px;
  border-color: black;
  border: 5px;
  margin-bottom: 96px;
}
.tecnology-btn {
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  border-color: black;
  border-style: dashed;
  border: 5px;
  border-radius: 60px;
  font-size: 16px;
  padding: 18px;
  gap: 10px;
  border: 1px solid rgba(128, 36, 36, 0.2);
  margin: 6px;
}

.btn-project {
  width: 141px;
  height: 45px;
  border-radius: 60px;
  border: none;
  background-color: #ed3b44;
  color: #fafafa;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.btn-project:hover {
  background-color: #e0373f;
}

.arrow-lr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
  /* margin-left: 113px; */
}

.btn-project-lr {
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: transparent;
  color: rgba(250, 250, 250, 0.2);
  fill: none;
  stroke: rgba(250, 250, 250, 0.2);
}

.btn-project-right {
  rotate: 180deg;
}

.project-icon2 {
  rotate: 180deg;
}

.btn-project-right:hover {
  stroke: rgba(250, 250, 250, 0.5);
  border: 1px solid rgba(250, 250, 250, 0.5);
}
.btn-project-left:hover {
  stroke: rgba(250, 250, 250, 0.5);
  border: 1px solid rgba(250, 250, 250, 0.5);
}
@media screen and (min-width: 768px) {
  .projects-panel {
    flex-direction: row;
  }
  .my-text {
    width: 494px;
  }
  .btn-project-lr {
    width: 68px;
    height: 68px;
  }
  .my-text {
    font-size: 44px;
    line-height: 1;
  }
  .btn-project {
    width: 177px;
    height: 55px;
  }
}
@media screen and (min-width: 1440px) {
  .projects-panel {
    display: inline-block;
  }

  .left-top-panel {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 24px;
  }
}

.swiper {
  overflow: visible;
}
