.reviews-container {
  padding-bottom: 0px;
  padding-top: 64px;
}
.reviews {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 0px;
}
.reviews-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}
.reviews-list {
  padding: 0px;
  width: auto;
  height: auto;
}

/* slider container  */
.reviews-item-container {
  position: relative;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  max-width: 344px;
  min-height: 302px;
  overflow: hidden;
}

/* slider item */

.reviews-item {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  max-width: 344px;
  min-height: 302px;
  max-height: 302px;
}
.reviews-avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}
.reviews-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--main-text);
}
.reviews-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  max-width: 295px;
  min-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 4px;
}
.reviews-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fafafa;
  border-radius: 60px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  margin-bottom: 2px;
}

.reviews-btn:active {
  transform: translateY(2px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #fafafa;
}

.reviews-icon {
  width: 24px;
  height: 24px;
  transition: stroke 200ms ease-in-out;
  stroke: #fafafa;
  cursor: pointer;
}

.reviews-div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.is_visible {
  display: none;
}
.reviews-btn.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(250, 250, 250, 0.2);
  cursor: default;
  /* stroke: rgba(250, 250, 250, 0.2); */
  cursor: default;
}
.swiper-button-disabled.reviews-icon {
  stroke: rgba(250, 250, 250, 0.2);
}

.reviews-text::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  margin-right: 4px;
}

.reviews-text::-webkit-scrollbar-track {
  background-color: transparent;
}

.reviews-text::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
  border-radius: 4px;
}

.reviews-text::-webkit-scrollbar-thumb:hover {
  background-color: rgb(136, 136, 136);
}
.swiper-wrapper {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
.swiper-reviews {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
/* photo slider */

.card-reviews {
  width: 100%;
  height: 100%;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  background: transparent;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.card-reviews .img-big-avatar,
.card-reviews .item-details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: 0.5s;
}

.card-reviews .img-big-avatar {
  top: 0;
  left: 100%;
  transition: left 0.5s;
}

.card-reviews .img-big-avatar img {
  width: 100%;
  height: 302px;
  object-fit: cover;
  object-position: top;
}

.card-reviews .item-details {
  top: 0;
  left: 0;
}
@media screen and (max-width: 1439px) {
  .click .item-details {
    left: 100%;
    transition: left 0.5s;
  }
  .click .img-big-avatar {
    left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .card-reviews:hover .item-details {
    left: 100%;
    transition: left 0.5s;
  }
  .card-reviews:hover .img-big-avatar {
    left: 0;
  }
}

/* end of slider */

@media screen and (min-width: 768px) {
  .reviews-container {
    padding-top: 96px;
  }
  .reviews {
    max-width: 768px;
  }
  .reviews-item-container,
  .reviews-item {
    width: 344px;
  }

  .reviews-text {
    width: 296px;
    min-height: 120px;
    max-height: 120px;
  }

  .reviews-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    width: 68px;
    height: 68px;
  }
  .reviews-icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews-container {
    padding-top: 164px;
  }
  .reviews {
    max-width: 1440px;
  }

  .reviews-item,
  .reviews-item-container {
    width: 332px;
    min-height: 302px;
  }

  .reviews-text {
    width: 284px;
    height: 120px;
  }
}
.not-found-message {
  font-size: 1.2rem;
  color: #888;
  text-align: center;
  margin-top: 40px;
}
.not-found-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.iziToast {
  width: 344px;
  height: 80px;
  padding: 15px 24px 30px 30px;
  font-size: 60px;
  color: #888;
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
  background-color: #242527;
  border-radius: 4px;
  color: rgba(250, 250, 250, 0.6);
  font-family: var(--font-family);
}